body {
	font-family: 'Finger Paint', cursive;
	text-align: center;
	margin: 0;
}

footer {
	display: none;
}

#themeSwitcher {
	color: gray;
	font-size: 0.8em;
	font-weight: 100;
	width: 300px;
	text-align: left;
	padding-left: 10px;
	cursor: pointer;
}

h1 {
	font-family: 'Flavors', cursive;
	font-size: 6em;
	font-weight: 100;
	margin-top: .1em;
	margin-bottom: .1em;
}
/* Tableau du démineur */
#grille {
	display: flex;
	justify-content: center;
	padding: 20px;
}

table {
	align-self: center;
}

tr,
th,
td,
table {
	border-collapse: collapse;
	border-spacing: 0px;
	padding: 0px;
}

#text {
	display: none;
}
#timer {
	display: block;
	font-size: 2em;
}

td {
	margin: none;
	width: 20px;
	height: 20px;

	background-image: url(assets/img/basic/normal.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: none !important;
	border-collapse: collapse;
	transition: 0.2s;

	cursor: pointer;
}

td:hover {
	transform: scale(1.2);
}

/* Classes des cases du tableau */

.empty {
	background-image: url(assets/img/basic/empty.png);
}

.flag {
	background-image: url(assets/img/basic/flag.png);
}

.bomb {
	background-image: url(assets/img/basic/bomb.png);
}

.bombDiscovered {
	background-image: url(assets/img/basic/bombDiscovered.png);
}

.one {
	background-image: url(assets/img/basic/1.png);
}

.two {
	background-image: url(assets/img/basic/2.png);
}

.three {
	background-image: url(assets/img/basic/3.png);
}

.four {
	background-image: url(assets/img/basic/4.png);
}

.five {
	background-image: url(assets/img/basic/5.png);
}

.six {
	background-image: url(assets/img/basic/6.png);
}

.seven {
	background-image: url(assets/img/basic/7.png);
}

.eight {
	background-image: url(assets/img/xp/8.png);
}
